name: "Test kubectl-rolesum using KinD"
on: [pull_request, push]
jobs:
  kind:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: engineerd/setup-kind@v0.1.0
    - name: Build kubectl-rolesum
      run: make build
    - name: Run test.sh
      run: |
        export KUBECONFIG="$(kind get kubeconfig-path)"
        ./test.sh
